// Variables
$primaryColor:black;
$fontFamily: 'Eurostile';

$panelHeight: 75vh;
$panelBorder:1px solid white;
$panelPadding:45px;
$panelBtnMargin:320px;
$panelWidth:15vw;
$panelMaxWidth:288px;

$controlsHeight:4em;
$controlsWidth:15em;

* {
	box-sizing:border-box;
}

body {
	background-color:$primaryColor;
	font-family: $fontFamily;
	margin-left: 25vw;
}

h1{
  color: white;
  font-family: $fontFamily;
}

.panel1{
  height:$panelHeight;
  width:$panelWidth;
  max-width:$panelMaxWidth;
  border:$panelBorder;
  float: left;
  padding:$panelPadding;
}

.panelBtn1{
  text-align:center;

  div {
	  margin:5px 0;
  }
}

.panelBtn2{
  text-align: center;
  margin-top:$panelBtnMargin;

  div {
	  margin:5px 0;
  }
}

.panel2{
  height:$panelHeight;
  width:20vw;
  border:$panelBorder;
  float: left;
  padding:25px;
}

.panel3{
  height: $panelHeight;
  width:$panelWidth;
  max-width:$panelMaxWidth;
  border:$panelBorder;
  float: left;
  padding:$panelPadding;
}

.panelBtn3{
  text-align: center;
  margin-top:40px
}

.soundBtn {
	height:4em;
	width:8em;
	border-radius:1em;
	font-family: $fontFamily;
	font-weight: 900;
	font-size: 17px;
	border: none;
}

.yellowBtn{
  background-color: #FFFD73;
}

.redBtn{
  background-color: #B9000D;
}

@mixin btnStyleChange {
	font-size: 16px;
	font-weight: 900;
	width: 8em;
	height: 3em;
}

.pinkBtn{
  height:$controlsHeight;
  width:$controlsWidth;
  background-color: #FF4B5A;
  border: none;
  margin-bottom: 10px;
  border-radius: 0;
  font-family: $fontFamily;
  @include btnStyleChange;
}

.yellowBtn_amp{
  height:$controlsHeight;
  width:$controlsWidth;
  background-color: yellow;
  border: none;
  margin-bottom: 10px;
  border-radius: 0;
  font-family: $fontFamily;
  @include btnStyleChange;
}

.blueBtn{
  height:$controlsHeight;
  width:$controlsWidth;
  background-color: #485DF8;
  border: none;
  border-radius: 0;
  font-family: $fontFamily;
  @include btnStyleChange;
}

.title {
	width: $panelWidth + $panelWidth + 20vw;
	text-align: center;
}
